<h1>New service_master</h1>

<% form_for(@service_master) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :service_desc %><br />
    <%= f.text_field :service_desc %>
  </p>
  <p>
    <%= f.label :hrs_est %><br />
    <%= f.text_field :hrs_est %>
  </p>
  <p>
    <%= f.label :hrs_actual %><br />
    <%= f.text_field :hrs_actual %>
  </p>
  <p>
    <%= f.label :servicer %><br />
    <%= f.text_field :servicer %>
  </p>
  <p>
    <%= f.label :total_cost %><br />
    <%= f.text_field :total_cost %>
  </p>
  <p>
    <%= f.label :status_code %><br />
    <%= f.text_field :status_code %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', service_masters_path %>